<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<resultMap id="resultMember" type="Member">
		<id property="memberId" column="member_id" />
		<result property="memberPwd" column="member_pwd" />
		<result property="memberName" column="member_name"/>
		<result property="gender" column="gender"/>
		<result property="age" column="age"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="address" column="address"/>
		<result property="hobby" column="hobby"/>
		<result property="enrollDate" column="enroll_date"/>
	</resultMap>
	
	<select id="selectMember1" parameterType="Member" resultType="Member" resultMap="resultMember">
		select * from member where member_id=#{memberId} and member_pwd=#{memberPwd}
	</select>
	
	<select id="selectMember2" parameterType="string" resultType="Member" resultMap="resultMember">
		select * from member where member_id = #{id}
	</select>
	
	<select id="selectList" resultType="list" resultMap="resultMember">
		select * from member
	</select>
	
	<insert id="insertMember" parameterType="Member" flushCache="true" statementType="PREPARED" useGeneratedKeys="true">
		insert into member values (#{memberId}, #{memberPwd}, #{memberName}, 
		#{gender}, #{age}, #{email}, #{phone}, #{address}, #{hobby}, default)
	</insert>

	<update id="updateMember" parameterType="Member" flushCache="true" statementType="PREPARED">
		update member set member_pwd=#{memberPwd}, member_name=#{memberName}, age=#{age}, 
		email=#{email}, phone=#{phone}, address=#{address}, hobby=#{hobby} where member_id=#{memberId}
	</update>

	<delete id="deleteMember" parameterType="string" flushCache="true" statementType="PREPARED">
		delete from member where member_id=#{id}
	</delete>
	
</mapper>
